

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.size{
  height: 90px;
}

body{
  background-color: rgb(255, 255, 255);
}
 
.para1{
  font-size: 25px;
  height: 37rem;
  width: 52%;
  position: relative;
  bottom: 410px;
}

.img1{
  position: relative;
  top: 7rem;
  left: 430px;
}

.img2{
  position: relative;
  right: 350px;
  bottom: 250px;
}

.img3{
  position: relative;
  right: 20px;
  bottom: 350px;
}

.button5{
  margin-top: 30px;
  width: 120px;
  height: 37px;
  margin-left: 12px;
}

.button5:hover{
  background-color: rgb(146, 172, 172);
  font-weight: bolder;
}

.mail5{
  margin-left: 0px;
  width: 300px;
  height: 30px;
}

.nam5{
  margin-left: 0px;
  margin-top: 100px;
  width: 300px;
  height: 30px;
}

.mess5{
  margin-left: 10px;
  width: 300px;
  height: 120px;
}

.contact{
  height: 2%;
  width: 30%;
  text-align: center;
  margin-left: 800px;
  position: relative;
  bottom: 700px;
}
